folium==0.17.0
geopy==2.4.1
nltk==3.8.1
numpy>=1.23.2,<2.0
pandas==2.2.2
scikit_learn==1.4.1.post1
streamlit==1.36.0
streamlit_folium==0.22.0
vaderSentiment==3.3.2
lightgbm==4.5.0
tensorflow
shap
seaborn
matplotlib